.DS_Store
application/logs/*
!application/logs/.gitkeep
application/cache/*
!application/cache/.gitkeep
application/config/development/*
!application/config/development/.gitkeep

vendor
e-sakafo_access.log
e-sakafo_error.log
.vscode
uploads
.idea
.env
application/config/database.php
uploads/*
!uploads/.gitkeep
.docker
config/development/*
!config/development/.gitkeep